/* Big general changes that affect the whole page */

body {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

/* for the heading */

#heading {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    
}

/* styling to the question area and the grid that contains the answers */

.question-area {
    display: flex;
    justify-content: center;
    background-color: silver;
    font-size: 3rem;
    margin-top: 150px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 0 15px;
}

.answer-area {
    margin: 20px auto;
    width:400px;
    height:400px;
    background-color:#333;
    padding:20px;
    padding-right: 40px;
    border-radius:10px;
    color:#fff;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-size:40px;
    outline: black;

}    

/* styling to the buttons specifically, additional styling for when the buttons are correct or incorrect */

button {
    background: none;
    color: white;
    font-size: 2rem;
}

.btn.correct {
    background-color: green;
    color: black;
}

.btn.wrong {
    background-color: red;
}

button:focus { 
    outline: orange auto 5px 
}

.next-container {
    display: flex;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.start-container {
    display: flex;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.restart-container {
    display: flex;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
}

.action-btn {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#next-btn, #restart-btn, #start-btn {
    font-size: 4rem;
}

#right-or-wrong {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 100px;
}

/* Styling for the footer/social media links */

#footer {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 150px;

}

/* hide class for additional JS functionality */

.hide {
    display: none;
}

/* Media queries */

/* Media query for screens smaller than 1024px wide (i.e. tablets) */

@media screen and (max-width: 1024px) {
    #footer {
        margin-top: 20px;
    }
    html {
        max-height: fit-content;
    }
}

/* Media query for screens smaller than 810px wide (i.e. smaller tablets) */
@media screen and (max-width: 810px) {
    #question {
        margin-top: 50px;
    }
}

/* Media query for screens smaller than 414px wide (i.e. larger smart phones)*/
@media screen and (max-width: 414px) {
    h1 {
        font-size: 2rem;
    }
    #question {
        font-size: 2rem;
    }
    #answers {
        width: 200px;
        height: 200px;
        grid-template-columns: 100px 100px;
    }
    .btn {
        font-size: 1rem;
    }
    .next-container, .restart-container {
        margin-top: 2px;
    }
    #next-btn, #start-btn, #restart-btn {
        font-size: 2rem;
    }
    #footer {
        margin-top: 100px;
    }
}

/* Media query for screens smaller than 320px wide (i.e. smaller smart phones) */
@media screen and (max-width: 320px) {
    #answers {
         grid-template-columns: auto;
         padding: 20px;
    }
    #question {
        margin-top: 15px;
        font-size: 1.5rem;
    }
    #restart-btn, #next-btn {
        font-size: 1.5rem;
    }
}