/* Big general changes */

body {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
    font-size: 4rem;
}

#heading {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    
}

.question-area {
    display: flex;
    justify-content: center;
    background-color: silver;
    font-size: 3rem;
    margin-top: 150px;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
}

.answer-area {
    margin: 20px auto;
    width:400px;
    height:400px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;

}    

.answer-left {
    background-color:#333;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    margin-left: calc(50% - 50vw);
    
}

.answer-right {
    background-color:#333;
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    margin-right: calc(50% - 50vw);
    
}

button {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
}

button:focus { 
    outline: orange auto 5px 
}

.next-container {
    display: flex;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    position: absolute;
}

.next-btn {
    font-size: 4rem;
}

#right-or-wrong {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 250px;
    gap: 200px;
}

#footer {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 150px;

}